<!DOCTYPE html>
<html>
<head>
  <title>¿Como funciona el fondo de retiro para jovenes que empiezan a trabajar?</title>
  <style type="text/css">
  body {
    font-family: "Times New Roman";
    color: LightGray;
    background-color: #7FFFD4 }
  h1 {
    font-family: Helvetica, Arial
   }
  h3 {
    font-family: Arial
   }
.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
  </style>
</head>
